main{
    width: 100%;
}
h2{
    margin-top: 50px;
}
form{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(68, 97, 68);
    height: 570px;
    margin-top: 50px;
    font-size: 20px;
}
form label{
    display: inline-block;
    width: 20%;
}
form input{
    display: inline-block;
}
.employee, .adresse{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 240px;
    width: 37%;
    height:400px;
    color: white;
}
.employee label, .adresse label{
    margin-left: 15px;
}
.employee input, .adresse input, .department input{
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 70%;
    height: 70px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.department{
    display: flex;
    flex-direction: column;
    width: 40%;
    color: white;
    margin-left: 40.5%;
    margin-top: -20px;
}
.department label{
    margin-left: 18%;
}
#department{
    width: 50%;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
}
#department option{
    font-size: 20px;
    text-align: center;

}
.save{
    margin-left: 45.5%;
    margin-top: 2%;
    text-align: center;
    font-size: 20px;
    width: 10%;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    color: white;
    background-color:rgb(68, 97, 68) ;
    border: white solid;
}