.current {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 20%;
    color: rgb(68, 97, 68);
}

.inputSearch {
    display: flex;
    justify-content: space-around;
    width: 25%;
    align-items: center;
    margin-left: 48%;
    margin-top: -45px;
    margin-bottom: 38px;
}
#searchBar {
    width: 80%;
    height: 30px;
    border-color: rgb(68, 97, 68);
    border-radius: 20px;
    text-align: center;
}
.search{
    font-size: 20px;
    color: rgb(68, 97, 68);
}
.kDEcCH {
    border: red solid;
}


